%h1.page-header
  Artists Matching #{params[:artist]}

%p
  = @artists.summary.html_safe



%ul
  - @artists.similar.each do |artist|
    %li
      = artist.name
      | #{link_to "Show", artist_path(:id => params[:artist])}
