%h1.page-header
  Artists Matching #{params[:id]}

%p
  = @artist.summary.html_safe


.col-md-12
  %ul
    - @artist.similar.each do |artist|
      %li
        = artist.name
        | #{link_to "Show", artist_path(:id => artist.name)}
